
/* ====== --GLOBAIS--- ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 :root {
   /* reavaliar escolha de cores.. motivos: facilidade de leitura */
     --azul: #89abad;
     --branco: rgba(255, 255, 255, 0.705);
     --preto: #000000ee;
     --laranja: #F86358;

 }

 body {
    font-family: 'Noto Sans JP', sans-serif;

 }
 header {
     font-size: 20px;
     padding: 20px;

 }

 ul li {
  list-style-type: none;
 }

 p {
   padding: 5px;
   margin: 5px 0
}
a {
  text-decoration: none;
}



 /* ======--- -  CSS HEADER -- --====== */

/* barra lateral espaçamentos e alinhamentos*/

header img {
  width: 100%;
  height: auto;
}

header h1 {
  font-size: 30px;
}

header nav {
  margin-top: 20px;
}
 header ul li{
    display: flex;
    flex-direction: row;
 }

 .icone {
  height: 10px;
  margin-top: 5px;
}
 
 header footer {
  padding: 15px;
  color: var(--preto);
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  text-align: center;
}

  /* fixando a barra lateral  */

 .sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--azul); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  padding-top: 5px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #000000ee;
  display: block;
} 

.sidenav a:hover,.icone:hover {
  color: var(--branco);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




/* - ====----MAIN--===- - */

.main {
  margin-left: 300px; /* Same as the width of the sidebar */
  background-color: var(--branco);
}
section {
  padding-top: 50px;
  width: 90%;
  margin: 30px auto;
}


/* -- Títulos--*/
.txt-negrito {
  font-weight: bold;
}
.txt-italico {
  font-style: italic;
}
section h1 {
font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--preto);
}

 section h1::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--laranja);
  bottom: 0;
  left: 0;
} 


/* -- SOBRE ---= */

.sobre h1 {
  text-transform: uppercase
 }

#sobre-info {
  display: flex;
  width: 100%;
  margin-top: 30px;

}
#sobre-img {
  width: 35%;
}
#sobre-img img{
  width: 300px;
}
#sobre-txt{
  width: 65%;
  margin-left: 20px;
}


.sobre-icone {
  color: var(--laranja);
  padding: 5px;
}

#sobre-info ul li {
padding: 5px;
}

/*-- LANCHES --- */

 .titulos_table {
    background-color: rgba(0, 0, 0, 0.933);
    width: 100%;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lanches_info  {
    display: flex;

} 
  .lanches_name {
    display: flex;
    flex-direction: column;
}

.sub-txt {
  font-size: 14px;
  color: rgb(110, 110, 110);
}
#titulo_valor {
  margin-left: 500px
}

.lanches_valor {
  margin-left: 50px;
  padding: 10px;
}
.lanches_quant {
  padding: 10px;

}

#titulo_quant, .lanches_quant {
  margin-left: 100px;
}

  /* ==== --- CSS do formulario -- =====*/
.divinput{
  background-color:#fff; 
  width:37.5em;
  min-height:25em;
padding:2em;
float:left;}

#nome, #endereco, #cupom{
  width:30em;height:3em}



fieldset {
    border: 0;
}

body, input, input[type="radio"], textarea, button {
    
    font-size: 1em;
}

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"]{
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 1px;
    display: block;
}
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 1px;
    display: block;
    width:38em
}




.botao {
    font-size: 1.5em;
    background:#343a40;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    width:20em;
}

.botao:hover {
    background: #23272b;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, input[type="radio"] {
    cursor: pointer;
}
  /* ==== --- CSS de informação -- =====*/
  #info{
background-color:#fff; 
width:18.75em;
min-height:25em;
padding:2em;
float:left;
}
#info p{font-size:14px;
font-family: 'Noto Sans JP', sans-serif; 
}


#sobre {
  width: 100%;
  height: 93vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.438);
  margin: 0;
 

}
#sobre:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background: rgba(0, 0, 0, 0.322); */
  /* box-shadow: inset 120px 100px 250px #000000,inset -120px -100px 250px #000000;; */
}

.active {
  display: block;
}
.hidden {
  display: none;
}

