/* CSS GLOBAL, MAIN E SOBRE/HOME(PÁGINA INICIAL) */ 
/* ====== --GLOBAIS--- ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 :root {
     --azul: #89abad;
     --branco: rgba(255, 255, 255, 0.705);
     --preto: #000000ee;
     --laranja: #F86358;
     --salmao: #E94F4F;

 }

 body {
    font-family: 'Noto Sans JP', sans-serif; background-color :rgb(216, 214, 214);

 }
 header {
     font-size: 20px;
     padding: 20px;

 }

 ul li {
  list-style-type: none;
 }

 p {
   padding: 5px;
   margin: 5px 0
}
a {
  text-decoration: none;
}

.sobre-icone {
  color: var(--laranja);
  padding: 5px;
}
.txt-negrito {
  color: var(--preto)
}

.txt-italico {
  font-style: italic;
}


/* Classes modificadas no JavaScript */
.active {
  display: block;
}
.hidden {
  display: none;
  visibility: hidden;
}

/* - ====----MAIN--===- - */

.main{
  margin-left: 280px; /* Same as the width of the sidebar */
}
section {
  width: 90%;
  margin: 30px auto;
}


/* -- Títulos--*/

.main h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    color: var(--preto);
}

 .lanches h1::after, .bebidas h1::after, .pedido h1::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--laranja);
  bottom: 0;
  left: 0;
} 


/* -==- SOBRE(página inicial) ---= */
/* alinhamento + background */
#sobre {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../img/background.jpg);
  background-size: 100%;
  margin: 0;
     
  
}
#sobre:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.322);
  box-shadow: inset 200px 350px 700px #000000de,inset -200px -350px 700px #000000e7;;
}
#sobre .container{
  padding-top: 2em;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--branco);
  
}
/* Títulos */
.sobre h1 {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: var(--branco);
  z-index: 2;

 }
 .sobre h1 span {
   color: var(--salmao);
 }
.sobre h2{
  z-index: 2;
  position: relative;
}

/* Espaçamento e alinhamentos dos conteúdos*/
#sobre-info-container {
  max-width: 85%;
  z-index: 2;
  position: relative;
  margin: 5px auto;
}

#sobre-txt{
  z-index: 2;
  max-width: 90%;
  margin: 5px auto;

}
#sobre-txt p {
  text-align: justify;
}

#sobre-info-container ul {
  max-width: 70%;
  
  margin: 0px auto;
    
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;

}

#sobre-info-container ul li {
  margin: 20px auto;
  padding: 5px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--branco);
  
  border-radius: 8px;
  box-shadow: 5px 10px 50px #3b3b3b;
}
#sobre-info-container ul li:hover{
  opacity: 80%;
}

#sobre-info-container ul li img {
  width: 60px;
  height: auto;
}






/* .ADDactive {
  display: block;
  visibility: visible;
}
.ADDhidden {
  display: none;
  visibility: hidden;
  position: fixed;
} */
