/*-- LANCHES --- */

.titulos_table {
    background-color: rgba(0, 0, 0, 0.933);
    width: 100%;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lanches_info, .bebidas_info {
    display: flex;

} 
  .lanches_name {
    display: flex;
    flex-direction: column;
}

.sub-txt {
  font-size: 14px;
  color: rgb(110, 110, 110);
}
.titulo_valor {
  margin-left: 500px
}

.lanches_valor {
  margin-left: 50px;
  padding: 10px;
}

.lanches_quant {
  padding: 10px;

}


.titulo_quant, .lanches_quant {
  margin-left: 100px;
}

/*BEBIDAS */
#bebidas .titulo_valor,  #bebidas .titulo_quant {
  margin-left: 300px;
}

#bebidas .lanches_valor
, #bebidas .lanches_quant{
  padding: 10px;
  margin-left: 275px;
}

/* ADICIONAIS */
#adicionais .titulo_valor,  #adicionais .titulo_quant {
  margin-left: 300px;
}

#adicionais .lanches_valor
, #adicionais .lanches_quant{
  padding: 10px;
  margin-left: 275px;


}

