
/* CSS DO FORMULÁRIO */

.flex-container {
    display: flex;
  }
  form {
    background-color:rgba(245, 245, 248, 0.719); 
    box-shadow: 1px 1px 1px;
    width:35em;
    min-height:25em;
    padding:2em;
  }
  #nome, #endereco, #cupom{
    width:30em;
    height:3em
  }
  
  fieldset {
    border: none;
  }
  
  body, input, input[type="radio"], textarea {
        font-size: 1em;
  }
  
  .grupo:before, .grupo:after {
      content: " ";
      display: table;
  }
  
  .grupo:after {
      clear: both;
  }
  
  .campo {
      margin-bottom: 1em;
      
  }
  
  .campo label {
      margin-bottom: 0.2em;
      color: #666;
      display: flex;
      flex-direction: row;
  }
  
  fieldset.grupo .campo {
      float:  left;
      margin-right: 1em;
  }
  
  /* #pedido input, #pedido textarea {
    
  } */
  .campo input[type="text"]{
      padding: 0.2em;
      border: 1px solid #CCC;
      border-radius: 8px;
      outline: none;
  }
  .campo textarea {
    width: 97%;    
    border: 1px solid #CCC;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 8px;
    outline: none;

  }
  
  .botao {
      width:30em;
      height:2.5em;
      font-size: 1.0em;
      background:#343a40;
      border-radius: 8px;
      margin-bottom: 1em;
      color: #FFF;
      padding: 0.2em 0.6em;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  
  .botao:hover {
      background: #131314;
      box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
      text-shadow: none;
  }
  
  .botao, input[type="radio"] {
      cursor: pointer;
  }
    /* ==== --- CSS de informação -- =====*/
    #info{
  background-color:#fff; 
  width:20em;
  min-height:25em;
  padding:1em;
  float:left;
  }
  #info p{font-size:14px;
  font-family: 'Noto Sans JP', sans-serif; 
  }

  .mapa {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  /* CSS SELECT - BAIRROS */
 
  .box select {
    background-color: #ffffff;
    color: rgb(15, 15, 15);
    padding: 5px;
    width: 180px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 5px 25px rgba(104, 104, 104, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(202, 198, 198, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 10px;
  }