@media (max-width: 1000px) {
    .sidenav {
     
        width: 200px;

      }

    .main{
        margin-left: 200px;
    }
      .itens-container {
        grid-template-columns: 1fr 1fr;
      }
      
}

@media (max-width: 900px) {
    .sidenav {
        visibility: hidden;
        width: 0px; 

      }
      .main{
        margin-left: 10px;
      }

      .itens-container {
        grid-template-columns: 1fr 1fr;
      }
}

@media (max-width: 600px) {

    .sidenav {
        visibility: hidden;

      }

    .itens-container {
            display: flex;
            flex-direction: column;
      }
}